/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc*
/.purs*
/.psa*
dist/

latex/ct.aux
latex/ct.bbl
latex/ct.blg
latex/ct.fdb_latexmk
latex/ct.fls
latex/ct.log
latex/ct.pdf
latex/ct.synctex.gz
latex/auto/
